<div>
  <h2>Room List</h2>

  <% if @items.blank? %>
    <p>..... No room .....</p>
  <% else %>
    <% @items.each do |i| %>
      <ul><%= link_to i[:text], chats_path(room_id: i[:room_id], receiver_ids: i[:receiver_ids]) %></ul>
    <% end %>
  <% end %>

  <%= link_to "Create New Room", "/rooms/form" %>
</div>
